{% extends 'shop/basic.html' %}

{% block title%} Title of About{% endblock %}
{% block body %}
<div class="jumbotron">
  <h1 class="display-4">About Us</h1>
  <p class="lead">This is a e-shopping website ceated by PIYUSH TUREY.
    All the comodities are being selled on the wholesale rate.</p>
  <hr class="my-4">
  <p>What Is Piyush E-Shop App? How Does The Social Commerce App Work? Know Details</p>
<p>What is Piyush E-Shop app?</p>
  <p>Here is everything you need to know about how Meesho app works and what it is. Also, learn how people earn from this application. Read.An app called Meesho app which is gaining a lot of popularity in recent times. The application boasts as a social commerce platform where users can resell the products provided by the organisation. It is now a part of WhatsApp Business with the catalogue feature. With such an online presence, many users around the world are wondering about what is Meesho app and how it works. If you have been wondering about the same, then do not worry, here is all you need to know about it.</p>
 <p> What is Piyush E-Shop app?</p>
<p>Piyush E-Shop App, available on both Google Play Store and iOS App Store, allows anyone to start their businesses with zero investment. It is one of the largest social commerce platforms, especially in India in which anyone can start their online business. All a user needs to do is resell Meesho's products to your contacts. The application solely constitutes women entrepreneurs, housewives, college students, shop owners, beauticians, wholesale traders, or anyone looking for a part-time job or for a way to start their online business.</p>
  <p>How does Piyush E-Shop app work?</p>
<p>The social commerce platform has a vast range of products and services available for users to resell to various customers. The application has various suppliers who post their products online. A user has to share their catalogue to friends, family or others on various social platforms such as WhatsApp, Facebook, Instagram, Twitter and generate sales. With Meesho App, you can earn a commission on every order. You can also earn a bonus from the organisation on making extra sales. Apart from this, users also get a chance to earn money by referring to the Meesho App to others (whether friends, family or others) looking to start their business. The products and services available on the platform are quite vast including clothing, accessories, gadgets, and more.</p>
 <p><b></b> Meesho app features</b></p>
<p>WhatsApp Business Catalog</p>
<p>Share catalogue to any social app easily</p>
<p>Earn through referrals</p>
<p>Earn bonuses by extra sales</p>
<p>Earn commission on every sale</p>
<p>Filter option</p>
<p>COD and online payment availability</p>
<p>Also as a notifications section</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>
{% endblock %}
